.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

.tertiary-btn {
  padding: 0.5rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid white;
  font-weight: 100;
  background: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.tertiary-btn:hover {
  border-color: #ebe537;
  color: #ebe537;
}
